<%- include('../partials/header.ejs') %>
<script src="display.js"></script>



<style>
    table{background-color: #84B6FF;}    
    th{text-align: left; background-color: #3B93A1; color: white}
    table,th,td{
    border: 2px solid #06296D;
    border-collapse: collapse;
}
</style>
<div class = "flex justify-center mr-20 font-bold text-4xl" > Print Page </button></div>
<div class = "flex justify-center mr-20 font-bold text-4xl" > <%= nameString %> </button></div>
<div class = "flex justify-center text-2xl" ><button id = "button" class = "font text-xxl mr-20 font-semibold"> EDIT </button></div>
<div class = "flex justify-center" >


    
    <table width = "1750" class = "font text-xl font-semibold" >
            <tr class = "border-solid bg-gray-400">
                <th width = "200" > Name </th>
                <th width = "200"> Contact</th>
                <th width = "200"> Rent Fee</th>
                <th width = "200"> Rent Due</th>
                <th width = "200"> Rent Pay Status</th>
                <th width = "200"> Water Bill</th>
                <th width = "200"> Water Pay Status</th>
                <th width = "200"> Electricity Meter</th>
                <th width = "200"> Electricity Bill</th>
                <th width = "200"> Electricity Pay Status</th>
            </tr>

            <tr>  
                <td> All</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><form action = "#" method = "post"> <input type = "text" name = "water" class = "w-20"> <input type = "submit"> </td>
                <td></td>
                <td></td>
                <td></td>
                <td>  </form> </td>



            </tr>


            <% if(data.length > 0){
                for (var i = 0; i < data.length; i++){
                    %> <tr class = "border-solid">
                        <td width = "150"><%= data[i].boarderName%></td>
                        <td width = "150"><%= data[i].boarderContact%></td>
                        <td width = "150">Php <%= data[i].boarderRent%></td>
                        <td width = "150"><%= data[i].boarderRentDue%></td>
                        <td width = "150"><%= data[i].boarderRentStatus%></td>
                        <td width = "150">Php <%= data[i].boarderWater%></td>
                        <td width = "150"><%= data[i].boarderWaterStatus%></td>
                        <td width = "150"><%= data[i].boarderElect%></td>
                        <td width = "150">Php <%= data[i].boarderElectPay%></td>
                        <td width = "150"><%= data[i].boarderElectStatus%></td>
                        

                        </tr>
                        <%   }
        }  %> 
    </table>
</div>

<script>
    const button = document.getElementById("button");
    
    button.addEventListener('click', () =>{
        window.location.href = "edit";

    })

</script>



    

</body>
</html>